@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.date {
    font-family: 'Lobster Two', cursive;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}